$anms-primary: mat-palette($mat-indigo, 900);
$anms-accent: mat-palette($mat-green, A400);
$anms-warn: mat-palette($mat-red, 600);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);
